/* Grid styles */
.WAgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    overflow: hidden; /* Hide overflowing content */
  }
  
  @media (min-width: 768px) {
    .WAgrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .WAgrid {
      grid-template-columns: 1fr; /* Switch to a single column layout */
    }
  }
  
  
  /* Card styling */
/* Define card animation */
.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform-origin: center; /* Smooth scaling from the center */
  
    /* Add a subtle hover effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5; /* Change background on hover */
  }
  
  